{:paths ["." "src"]
 :deps {etaoin/etaoin {:mvn/version "1.0.39"}}
 :tasks {:requires ([mag-stripe.swipe])
         scrape {:doc "Write posts from a specified platform to an edn file. You must specify particular keys."
                 :requires ([mag-stripe.swipe]
                            [taoensso.timbre :as timbre])
                 :enter (timbre/set-level! :error)
                 :task (exec 'mag-stripe.swipe/write!)
                 :exec-args {:path-browser "/Applications/Chromium.app/Contents/MacOS/Chromium"}}
         platforms {:doc "Print all available platforms."
                    :task mag-stripe.swipe/platforms}
         demo-dean (shell "bb scrape :platform spike-art-magazine :query contributors :slug dean-kissick-0 :outfile target/kissick.edn :limit 5")
         demo-angel (shell "bb scrape :platform substack :domain https://cashedcobrazhousewriter.substack.com/ :outfile target/a01.edn :limit 10")}}
